body{
  background-image: url(../img/Snap.jpg);
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size: cover;
  background-repeat: no-repeat;
  height:100vh;
}

.temp-text{
  color: #fff;
  text-align: center;
  font-size: 40px;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
}

.preloader{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fefefe;
  z-index: 99999;
  height: 100%;
  width: 100%;
  overflow: hidden !important;
}

.loaded{
  width: 60px;
  height: 60px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url(../img/preloading.gif);
  background-repeat: no-repeat;
  background-position: center;
  -moz-background-size:cover;
  background-size: cover;
  margin: -20px 0 0 -20px;
}